*{padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth;}

body {
    background: black;
}

.main_header {
    height: 60px;
    background: black;
}

.mamix_nav{
    background: url('https://vidak.me/images/brand/banner/cell/N4kyv9CbFGy0JCUU.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    opacity: .8;
}

.shop-shirts {
    width: 100%;
    height: 200vh;
    background: white;
}